.fullScreen {
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #282c34;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  align-content: center;
  align-items: center;
  background-position: 50% 50%;
}

.footer {
  box-shadow: 0 0 10px rgba(0,0,0, 0.5);
  background: rgba(0,0,0, 0.5);
  color: white;
  height: 20vh;
  width: 100%;
  min-height: 256px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}